# Ignorar pastas do Terraform
.terraform/
#*.tfstate
#*.tfstate.backup
.terraform.lock.hcl

# Ignorar arquivos compactados e binários
*.zip
*.exe

# Ignorar variáveis sensíveis (caso você crie um)
terraform.tfvars

# Backend Java
backend/target/

# Frontend Node/React
frontend/node_modules/
frontend/dist/

# Configurações locais
.env
.DS_Store